<p class="font-bold text-3xl mb-3 mx-6"><%= @topic.title%></p>

<div>
  <%= render @posts%>
</div>

<br>
<% if user_signed_in? %>
  <div class="text-center"><%= render partial: "posts/form", locals: {post: @topic.posts.new }%></div>
<% end %>

<div class="text-center pb-8"><%== pagy_nav(@pagy, pagy_id: @topic.id)%></div>