<p class="font-bold text-3xl mb-3 mx-6"><%= @topic.title%></p>

<div>
  <%= render @topic.posts %>
</div>

<br>
<% if user_signed_in? %>
  <%= render partial: "posts/form", locals: {post: @topic.posts.new }%>
<% end %>